* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Nexa-bold";
    src: url("../fonts/Nexa-bold.otf")
}

@font-face {
    font-family: "Montserrat-medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

.container {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    max-width: 1600px;
    display: grid;
    grid-template-areas:
        "header-main"
        "main"
        "footer-main"
    ;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "cutaway"
        "pluses"
        "choose-us"
        "stats"
        "how-work"
        "gallery"
        "our-team"
        "new-patient"
    ;
}

.header-main {
    grid-area: header-main;
    display: grid;
    padding: 2% 13%;
}

.header-up {
    display: grid;
    border-bottom: 2px solid rgba(194, 194, 194, 0.31);
    padding-bottom: 10px;
    grid-template-columns: 30% 3fr 3fr 2fr;
}

.logo {
    display: block;
}

@media screen and (max-width:992px) {
    .logo {
        grid-column: 1/-1;
        padding-bottom: 10px;
    }
}


.circles img {
    animation: breathe 2s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes breathe {
    0% {
        transform: scale(1.1)
    }

    ;

    100% {
        transform: scale(1)
    }

    ;
}

.work-time,
.mail-us,
.call-us {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:576px) {
    .header-up {
        display:block;
    }
    .work-time,
    .mail-us,
    .call-us {
       display:flex;
       justify-content: flex-start;
       padding-top:15px;
       
    }
    .header-main{
        padding:2% 2%;
    }
}


.fa {
    transition-duration: 1s;
}

.fa:hover {
    transform: scale(1.4);
}

.work-time-text {
    padding-left: 8px;
    font-size: 15px;
    color: #6a6a6a;
    font-weight: 700;
    line-height: 22px;
    padding-top: 3px;
}

.work-time-bottom-text {
    font-weight: 400;
}

.header-nav {
    float: left;
}

.header-nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 0;
}

.header-nav ul li:not(:first-child) {
    padding-left: 25px;
}


.header-nav ul li a {
    font-family: "Nexa-bold", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #6c6c6c;
    text-decoration: none;
}


.header-nav ul li a:hover {
    color: #262626;
}

.header-links {
    float: right;
}



.header-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 25px 0;
}

.header-links ul li:not(:first-child) {
    padding-left: 25px;
}

@media screen and (max-width:576px) {
    .header-nav ul li{
        display: block;
    }

    .header-nav ul li a{
        font-size: 28px;
    }
    .work-time-text{
        line-height: 40px;
        font-size: 28px;
    }
    .header-nav ul li:first-child{
        padding-left: 25px;
        
    }   
}


@media screen and (max-width:1044px) {

    .header-links,
    .header-nav {
        float: none;
    }

}

.cutaway {
    grid-area: cutaway;
    background: url("../pics/cutaway-bg.jpg") no-repeat;
    height: 640px;
    background-size: cover;
}



.cutaway-content {
    padding: 140px 0 0 180px;
    max-width: 550px;
}

@media screen and (max-width:992px) {
    .cutaway {
        background: radial-gradient(circle, rgba(201, 210, 228, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(201, 210, 228, 1) 100%);
    }

    .cutaway-content {
        padding-top: 200px;
    }
}

.cutaway-header {
    font-family: "Montserrat-medium", sans-serif;
    font-size: 48px;
    letter-spacing: -1.19px;
    color: #474747;
    text-align: center;
}

.cutaway-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: #3f3f3f;
    text-align: center;
    padding-top: 20px;
    padding-left: 55px;
    max-width: 450px;
}

.cutaway-button-box {
    padding: 25px 0 0 180px;
}

.button {
    background-color: #1a9bdc;
    ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    border-radius: 35px;
}



@media screen and (max-width:576px) {
    .cutaway-content{
        padding: 0;
        margin: auto;
    }

    .cutaway-header{
        font-size:38px;
        line-height: 50px;
    }

    .cutaway-text{
        font-size: 28px;
        line-height: 50px;
    }

    .cutaway-button-box{
        padding: 20px 0;
        display:flex;
        justify-content: center;
    }

    .cutaway{
        height: auto;
    }
}

.button:focus {
    outline: none;
    animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-out-center {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 1;
    }
  }
  

.pluses {
    grid-area: pluses;
    display: grid;
    height: 360px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #FFFFFF;
}



.pluses h3 {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pluses p {
    padding: 0 50px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.plus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plus1 {
    background: #43B1D2;
}

.plus2 {
    background: #3fb6c6;
}

.plus3 {
    background: #3cbbbb;
}

.plus4 {
    background: #37c3a8;
}

@media screen and (max-width:992px) {
    .pluses {
        grid-template-columns: 1fr 1fr;
        height: 1400px;
    }
}

@media screen and (max-width:576px) {
    .pluses{
        grid-template-columns: 1fr;
    }
    .plus p{
        font-size: 28px;
        line-height: 50px;
    }
}

.choose-us {
    grid-area: choose-us;
}

.choose-us-header {
    padding-top: 80px;
    text-align: center;
    font-family: Montserrat-bold, sans-serif;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    color: #494949;
}

.choose-us-header-text {
    text-align: center;
    padding-top: 20px;
    max-width: 900px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #6a6a6a;
    margin: 0 auto;
}

.choose-us-advantage {
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(250px, 370px) 337px minmax(250px, 370px);
    grid-column-gap: 40px;
    grid-template-rows: minmax(150px, 301.5px) minmax(150px, 301.5px);
}

.choose-us-doctor {
    grid-column: 2/3;
    grid-row: 1/3
}



.advantage-1 {
    background: url("../pics/hygieia.png") no-repeat left center;
}

.advantage-2 {
    background: url("../pics/pills.png") no-repeat left center;
}

.advantage-3 {
    background: url("../pics/microscope.png") no-repeat left center;
}

.advantage-4 {
    background: url("../pics/atom.png") no-repeat left center;
}

.advantage h3 {
    padding-top: 135px;
    padding-left: 90px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #6f6f6e;
    font-family: Montserrat, sans-serif;
}



.advantage-text {
    padding-top: 35px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #6a6a6a;
}

@media screen and (max-width:992px) {
    .choose-us-advantage {
        grid-template-columns: 1fr 1fr;
    }

    .choose-us-doctor {
        grid-column: 1/3;
        grid-row: 3/5;
        display:flex;
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    .choose-us-advantage{
        grid-template-columns: 1fr;
    }

    .choose-us-doctor{
        grid-column: 1/1;
        grid-row: 5/6;
    
    }

    .advantage{
        margin: auto ;
    }

    .advantage h3{
        margin-bottom: 50px;
    }

    .advantage-text{
        font-size: 28px;
        max-width: 750px;
        line-height: 50px;
    }

    .choose-us-header-text {
        font-size: 28px;
        line-height: 50px;
    }
}


.stats {
    background: url("../pics/stats-bg.jpg") no-repeat;
    height:592px;
    grid-area: stats;
    background-size: cover;
    margin:-5px;
}

.all-stats{
    display:grid;
    grid-template-columns: repeat(4, 180px);
    justify-content: center;
    padding-top: 170px;
    column-gap: 140px;
}

.all-stats-count{
    font-family: Montserrat-bold;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

.all-stats-text{
    font-family: Montserrat-medium;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

.stats-pic{
    padding-left: 45px;
    padding-bottom: 25px;
}

.stats-block{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats-border{
    padding: 10px 0 25px 42px;
}

@media screen and (max-width:576px)
{
    .stats{
        height: auto;
        width: 100%;
    }

    .all-stats{
        grid-template-columns: repeat(1,auto);
        row-gap: 80px;
    }

    .stats-pic{
        padding-left: 80px;
    }
    .stats-border{
        padding-left: 88px;
    }
    .lung{
        padding-bottom: 80px;
    }
}

.how-work {
    grid-area: how-work;
    display: grid;
    grid-template-areas:
    "w-head-1 w-head-1 w-head-2"
    "w-text-1 w-text-1 w-text-2"
    "w-article-1 w-article-2 w-treatment"
    "w-button w-button w-treatment";
    padding: 100px 200px;
    row-gap: 20px;
    column-gap: 20px;
}

.h-work-header-1{
    grid-area: w-head-1;
}

.h-work-text-1{
    grid-area: w-text-1;
    max-width: 770px;
}

.h-work-header-2{
    grid-area: w-head-2;
}

.h-work-text-2{
    grid-area: w-text-2;
}

.h-work-article-1{
    grid-area: w-article-1;
}

.h-work-article-2{
    grid-area: w-article-2;
}

.h-work-treatment{
    grid-area: w-treatment;
}

.h-work-button{
    grid-area: w-button;
}

.work-header{
    font-family: Montserrat-bold, sans-serif;
    font-size: 45px;
    color: #494949;
}

.work-text{
    font-size: 16px;
    color: #6a6a6a;
    line-height: 30px;
}

.work-article{
    max-width: 334px;
}

.article-header{
    font-family: Montserrat-medium, sans-serif;
    font-size: 20px;
    color: #6f6f6e;
    padding: 10px 0 5px 0;
}

.article-link{
    padding-bottom: 15px;
}

.article-link a{
    text-decoration: none;
   
    color: #0087be;
    font-family: Montserrat-medium, sans-serif;
    font-size: 15px;
}

.checkbox{
    position: relative;
    display:block;
}

.treatment-label{
    cursor: pointer;
    font-family: Montserrat-medium;
    font-size: 20px;
    color: #494949;
    padding-left: 5px;
}
.hidden-text {
    display: block;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: opacity .3s 0s;
    padding-bottom: 20px;
}

.treatment-check {
    position: absolute;
    width: 0px; height: 0px;
    top: -20Ð·x; left: -20px;
}

.treatment-check:checked + .hidden-text {
    max-height: none;
    opacity: 1;
}

.label-box{
    display: flex;
    align-items: center;
    background-color: #e2e2e2;
    padding: 5px 7px;
    border-radius: 30px;
}

.h-work-button-box{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

@media screen and (max-width:768px){
    .how-work{
        grid-template-areas: 
        "w-head-1 w-head-1"
        "w-text-1 w-text-1"
        "w-article-1 w-article-2"
        "w-button w-button"
        "w-head-2 w-treatment"
        "w-text-2 w-treatment";
    }
    .h-work-button-box{
        padding-bottom: 40px;
    }
}

@media screen and (max-width:576px){
    .how-work{
        grid-template-areas: 
        "w-head-1"
        "w-text-1"
        "w-article-1"
        "w-article-2"
        "w-button"
        "w-head-2"
        "w-text-2"
        "w-treatment";
    }

    .article-header,
    .article-link a,
    .work-text{
        font-size:28px;
        line-height: 50px;
    }

    .work-article{
        max-width: none;
    }
    .h-work-treatment{
        padding-top: 50px;
    }
}

.gallery {
    grid-area: gallery;
    background: url(../pics/gallery-bg.jpg) no-repeat;
    max-height: 826px;
}

.gallery-header{
    text-align: center;
    color: #fff;
    font-family: Montserrat-bold;
    font-size: 45px;
    padding-top: 80px;
}

.gallery-text{
    text-align: center;
    max-width: 1116px;
    margin: auto;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding-top: 25px;
}

.gallery-pics{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr , 2fr;
    padding: 40px 250px 80px 250px;
    row-gap: 30px;
}

@media screen and (max-width:768px){
    .gallery-pics{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 35px;

    }
    .gallery{
        max-height: none;
        background-size: cover;
    }
    
}

@media screen and (max-width:576px){
    .gallery-pics{
        display: block;
    }
    
    .gallery-pic{
        display: flex;
        justify-content: center;
        padding-bottom: 35px;
    }

    .gallery-pic img{
        width:650px;
    }

    .gallery-text{
        font-size: 28px;
        line-height: 50px;
    }


}
.our-team {
    grid-area: our-team;
}

.our-team-header{
    color: #494949;
    text-align: center;
    font-family: Montserrat-bold;
    font-size: 45px;
    padding-top: 100px;
}

.our-team-text{
    color: #6a6a6a;
    text-align: center;
    max-width: 1116px;
    margin: auto;
    font-size: 16px;
    line-height: 30px;  
    padding-top: 25px;
}

.our-team-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 220px 120px 220px;
}

.member-name{
    font-family: Montserrat-medium;
    font-size: 25px;
    color: #6f6f6e;
    padding-top: 10px;
    text-align: center;
}

.member-position{
    font-family: Montserrat-medium;
    font-size: 18px;
    color: #6f6f6e;
    padding-top: 10px;
    text-align: center;
}

.member-links{
    padding-left: 90px;
    padding-top: 20px;
    
}

.member-link{
    color:#0087be;
    padding-right: 20px;
}

.our-team-member:not(:last-child){
    padding-right: 20px;
}

@media screen and (max-width:768px){
    .our-team-div{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:576px){
    .our-team-div{
        grid-template-columns: 1fr;
        grid-row-gap: 80px;
    }
    .our-team-member img{
       padding-left: 200px;
    }
    .member-links{
        padding-left: 280px
    }
    .our-team-text{
        font-size: 28px;
        line-height: 50px;
    }
}


.new-patient {
    grid-area: new-patient;
    height: 176px;
    background-color: #e2e2e2;
    
}

.new-patient-text {
    font-family: Montserrat-bold;
    font-size: 30px;
    color: #494949;
}

.new-patient-box{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.new-patient-button{
    margin-top: -10px;
    margin-left: 60px;
}

.footer-main {
    grid-area: footer-main;
}