*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: "Open Sans";
    src:url("../fonts/OpenSans-Regular.ttf");
}

@font-face{
    font-family: "Nexa-bold";
    src:url("../fonts/Nexa-bold.otf")
}

@font-face{
    font-family: "Montserrat-medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face{
    font-family: "Montserrat-bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

.container{
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    max-width:1600px;
    display:grid;
    grid-template-areas: 
    "header-main"
    "cutaway"
    "pluses"
    "choose-us"
    "stats"
    "how-work"
    "gallery"
    "our-team"
    "new-patient"
    "footer-main"
    ;
}

.header-main{
    grid-area: header-main;
    display:grid;
    padding: 2%  13%;
}

.header-up{
    display:grid;
    border-bottom: 2px solid rgba(194, 194, 194, 0.31);
    padding-bottom: 10px;
    grid-template-columns: 30% 3fr 3fr 2fr;
}

.logo{
    display:block;
}

.fa-circle{
    color:#1a9bdc;
}

.work-time,
.mail-us,
.call-us{
    display:flex;
    justify-content: center;
}

.work-time-text{
    padding-left: 3px;
    font-size: 15px;
    color: #6a6a6a;
    font-weight: 700;
    line-height: 22px;
    padding-top: 9px;
}

.work-time-bottom-text{
    font-weight: 400;
}
.header-nav{
    float: left;
}
.header-nav ul li{
    list-style-type: none;
    display: inline-block; 
    padding: 30px 0;
}
.header-nav ul li:not(:first-child){
    padding-left: 25px;
}

.header-nav ul li a{
    font-family: "Nexa-bold", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #6c6c6c;
    text-decoration: none;
}
.header-nav ul li a:hover{
    color: #262626;
}

.header-links{
    float: right;
}
.header-links ul li{
    list-style-type: none;
    display: inline-block; 
    padding: 25px 0;
}

.header-links ul li:not(:first-child){
    padding-left: 25px;
}   
.cutaway{
    grid-area: cutaway;
    background: url("../pics/cutaway-bg.jpg") no-repeat;
    height: 640px ;
    background-size: cover;
}
.cutaway-content{
    padding: 140px 0 0 180px;
    max-width: 550px;
}
.cutaway-header{
    font-family: "Montserrat-medium", sans-serif;
    font-size: 48px;
    letter-spacing: -1.19px;
    color: #474747;
    text-align: center;
}
.cutaway-text{
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color:#3f3f3f;
    text-align: center;
    padding-top: 20px;
    padding-left: 55px;
    max-width: 450px;
}

.cutaway-button-box{
    padding: 25px 0 0 180px;
}

.cutaway-button{
        background-color: #1a9bdc;;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
        border-radius: 35px;
}        
.pluses{
    grid-area: pluses ;
    display: grid;
    height:360px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #FFFFFF;
}

.pluses h3{
    font-family: "Montserrat-bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 15px;
}
.pluses p{
    padding: 0 50px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.plus1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat #43B1D2 url("../pics/stethoscope.png") 50% 20%;
    
}

.plus2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat #3fb6c6 url("../pics/phone-plus.png") 50% 20%;
    
}

.plus3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat #3cbbbb url("../pics/nurse.png") 50% 20%;
    
}

.plus4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat #37c3a8 url("../pics/ambulance.png") 50% 20%;
    
}

.choose-us{
    grid-area: choose-us ;
}

.choose-us h2{
    font-family: "Montserrat-bold";
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 20px;
}

.choose-us p{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    max-width: 950px;
    padding-left: 330px;
}

.professional{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(2, 1fr);
}

.picture{
    grid-column: 2 /  2;
    grid-row:1/-1;
    background: no-repeat url("../pics/doctor.png") center;
    height: 598px;
    
}

.professional div{
    min-height: 170px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #6a6a6a;
}

.professional h3{
    padding-bottom: 40px;
    font-family: "Montserrat-bold";
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    color: #6f6f6e;
}
.professional p{
    padding : 0 33px;
    text-align: start;
}

.professional1{
    background: no-repeat url("../pics/hygieia.png") 31% 43%;
}

.professional2{
    background: no-repeat url("../pics/pills.png") 7% 43%;
}

.professional3{
    background: no-repeat url("../pics/microscope.png") 31% 43%;
}

.professional4{
    background: no-repeat url("../pics/atom.png") 7% 43%;
}

.professional-content{
    padding-top: 115px;
    padding-left: 105px;

}

.professional-content-even{
    padding-top: 115px;
    padding-right: 105px
}

.professional-content-even h3{
    text-align: start;
    padding-left: 110px;
}

.stats{
    grid-area: stats ;
}

.how-work{
    grid-area: how-work ;
}

.gallery{
    grid-area: gallery ;
}

.our-team{
    grid-area: our-team ;
}

.new-patient{
    grid-area: new-patient ;
}

.footer-main{
    grid-area: footer-main ;
}