* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: social;
    src: url(../fonts/socialico.ttf);
}

body{
    background: #ccc;
}

.container{
    font-family: Arial;
    margin: 0 auto;
    max-width: 1280px;
    background: #fff;
}

header{
    background-color: #445161;
    display:block;
}

h1{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 59px;
    font-weight: normal;
}

.header-content{
    padding: 50px;
    
}

.clear-fix::after{
    content: '';
    clear: both;
    display: block;

}

.header-text{
    float:left;
    color: white;
}

.header-list{
    margin-top: 5%;;
    font-size: 20px;
    line-height: 1.8;
    list-style:url(../images/check-icon.png) inside;
}

.header-photo{
    float: right; 
}

.about{
   
    margin: 4%;
    min-height: 300px;
}

.about-text{
    float: left;
    max-width: 670px;
    line-height: 24px; 
}

.about-heading{
    margin: 0 0 4% 0;
    color: #445161;
    max-width: 255px;
    font-weight: 400;
    font-size: 30px;
}



.about-video{
    float:right;
}

.video{
    max-width: 430px;
    max-height: 235px;
}
@media screen and (max-width:1185px){
    .about-video{
        float:none;
    }
}
.pluses{
    background-color: #f5f5f5;
    padding-bottom: 3%;
}

.pluses-heading{
    padding: 4% 0 2% 0;
    max-width: 370px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto;
}

.pluses-list{
    margin-left: 8%;
    list-style-image: url(../images/plus-icon.png);
}

.pluses-list li{
    width: 45%;
    float: left;
    margin: 0 0 2% 0%;
    line-height: 24px;
    box-sizing: border-box;
    text-align: justify;
}

.pluses-list li:nth-child(even){
    margin-left: 5%;
}

.pluses-text{
    position:relative;
    top: -19px;
}

.screenshots{
    padding-bottom: 3%;
}


.screenshots-heading{
    text-align: center;
    padding: 4% 0 3% 0;
    max-width: 370px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto;
}


.screenshots-list{
    margin: 0 0 0 5%;
    list-style-type: none;
   
}

.screenshots-list li{
    max-width: 575px;
    margin: 0 1.5% 4% 0;
    display: flex;
    float: left;
}


.screenshots-title{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #445161;
    margin-left: .1%;
    margin-bottom: 4%;
}

.screenshots-text{
    margin-left: 4%;
}

.screenshots-text>span{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.reviews{
    background: #f5f5f5;
}

.reviews-heading{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 3%;
}

.reviews-list{
    margin: 3% 0 0 0%;
    list-style-type: none;

}
.reviews-list li{
    display: flex;
    max-width: 575px;
    float: left;
    margin-left: 50px;
}

.speech-bubble {
    background: #ebebeb;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 450px;
    padding: 15px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
    margin-right: 35px;
    margin-left: 18px;
    
}

.speech-bubble:before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 65%;
	left: -1.2em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #ebebeb;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    transform: rotate(270deg)
}

.speech-bubble-sign{
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    padding-top: 1.5%;
}

.reviews-list img{
    margin-left: 15px;
}



.buy-it-now-heading{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 3%;
}

.offers{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.offer:first-child{
    margin-left: 120px;
}

.offer:last-child{
    margin-right: 120px;
}

.offer{
    background-color: #445162;
    min-height: 300px;
    min-width: 300px;
    border-radius: 5px;
    padding-bottom: 1%;
}


.offer li{
    list-style-type: decimal;
    list-style-position: inside;
}

.offer-name{
    padding-bottom: 3%;
    text-align: center;
    padding-top: 4%;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.privelege{  
    padding: 5% 3% 0% 5%;
}

.privelege li{
    color: #fff;
    font-size: 14px;
    font-weight: 400;    
    padding-bottom: 16px;
}

.price{
    background-color: #fff;
    border: 3px solid #445162;
    font-size: 40px;
    font-weight: 400;
    color: #445162;
    text-align: center;
    min-height: 70px;
    line-height: 70px;
}

.button-container{
     padding: 0 0 2% 7%;
}

.buy-button{
   
	background-color:#fff;
	border-radius:4px;
	display:inline-block;
	color:#445162;
	font-size:18px;
	font-weight:bold;
	padding:7px 110px;
    border: none;
}

address{
    margin-top: 5%;
    background-color: #445162;
    padding-bottom: 4%;
}

.contacts-heading{
    font-style: normal;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 3% 0 3% 0;
}

.contacts-content{
    display: inline-flex;
    margin-left: 18%;
    
}

.contacts-form{
    display: flex;
    flex-direction: column;
}

.input-name,
.input-email{
    width: 500px;
    margin-bottom: 2%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.input-message{
    width: 500px;
    margin-bottom: 2%;
    height: 170px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    resize: none;
}

.send-button{
    background-color:#fff;
	border-radius:4px;
	display:inline-block;
	color:#445162;
	font-size:18px;
	font-weight:bold;
    margin-top: 3%;
	padding:7px 40px;
    border: none;
}

.send-button-box{
    margin-left: 190px;
}

.contact-numbers-list{
    list-style-type: none;
    color: #fff;
    
}

.contacts-links{
    margin-left: 7%;
    min-width: 500px;
}

.contacts-links li{
    padding-bottom: 20px;
}

.contacts-numbers-text{
    position:relative;
    top: -6px;
    left: 5px;
    
}

.social-links{
    list-style-type: none;
    display: inline-flex;
    color: #fff;
    font-family: social;
}

.social-links li p{
    font-family: social;
    font-size: 60px;
    font-style: normal;
}

.social-links a{
    text-decoration: none;
    color: #fff;

}

footer p{
    text-align: center;
    font-size: 12px;
    margin: .4%;
    color: #445162;
}

button:focus{
    outline: none;
}

button:active{
    transform: translateY(1px);
    filter: saturate(150%);
}

@media screen and (max-width: 1043px) {
    .container{  
        max-width: 762px;   
    }

    .header-photo{
        margin-top: 250px;
        float:none;

    }

    .about-video{
        float:none;
        padding-top: 235px;
    }
    
    .pluses-list li{
        width: 80%;
        margin-left: 50px;
    }
    .pluses-list li:nth-child(even){
        margin-left: 50px;
    }
    .offer{
        min-width:150px;
        margin-bottom: 15px;
    }
    .offers{
        flex-direction: column;
        align-items: center; 
    }
    .offer:first-child{
        margin-left: inherit;
        margin-top: 35px;
    }
    
    .offer:last-child{
        margin-right: inherit;
    }
    .button-container{
        padding-right: 37px;
    }
    .contacts-content{
        display: block;
    }

    .contacts-links{
        margin-top: 40px;
        margin-left: 130px
    }
}

@media screen and (max-width:600px){
    .container{  
        max-width: 600px;
        min-width: 320px;   
    }

    .header-content{
        padding:4%;
    }

    .header-photo{
        margin: 0;
    }

    .header-photo img{
        width:250px;
    }

    .about-video video{
        width:250px;
    }
    
    .pluses-heading{
        padding-left: 4%;
    }

    .pluses-list {
        margin-left: 1%;
    }

    .screenshots-list li{
        display: flex;
        flex-wrap: wrap;
    }
    .screenshots-text{
        margin:0;
    }

    .screenshots-list li img{
        height:150px;
        float:left;
    }

    .reviews-list li {
        margin-left: 5px;
    }
    
    .speech-bubble:before{
        bottom: 85%;
        left: -1.2em;
        
    }

    .input-name,
    .input-email{
        width: auto;
    }

    .input-message{
        width: auto;
    }

    .contacts-form{
        padding-right: 30px;
    }

    .send-button-box{
        margin-left: 50px;
    }

    .contacts-links{
        margin-left: 20px;
    }
}
.ad-body {
    margin: 0;
    background: #e67e9e;
    min-height: 100vh;
    position: relative;
}

.ad-body video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.on-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad-wrap{
    width: 60%;
}

.ad-wrap p {
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #4CAF50;
    
}

.ad-button {
    margin: 0 auto;
    display: block;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

.ad-wrap a {
    text-decoration: none;
}